html {
    height: 100%;
}

body {
    height: 100%;
}

#sigma-container {
    width: 100%;
    height: 100%;
    background-color: #E1E1E1;
    clear: both;
}

#graph-edit {
    float: left;
    width: 25%;
}

#edge {
    float: left;
    width: 25%;
}

#actions {
    float: left;
    width: 20%;
}