<html lang="en">
<head>
    <title>VMTL Coloring</title>
    <!-- START SIGMA IMPORTS -->
    <script src="../static/sigma-deps/sigma.core.js"></script>
    <script src="../static/sigma-deps/utils/sigma.utils.js"></script>
    <script src="../static/sigma-deps/sigma.settings.js"></script>
    <script src="../static/sigma-deps/classes/sigma.classes.dispatcher.js"></script>
    <script src="../static/sigma-deps/classes/sigma.classes.configurable.js"></script>
    <script src="../static/sigma-deps/classes/sigma.classes.graph.js"></script>
    <script src="../static/sigma-deps/classes/sigma.classes.camera.js"></script>
    <script src="../static/sigma-deps/classes/sigma.classes.quad.js"></script>
    <script src="../static/sigma-deps/captors/sigma.captors.mouse.js"></script>
    <script src="../static/sigma-deps/captors/sigma.captors.touch.js"></script>
    <script src="../static/sigma-deps/renderers/sigma.renderers.canvas.js"></script>
    <script src="../static/sigma-deps/renderers/sigma.renderers.webgl.js"></script>
    <script src="../static/sigma-deps/renderers/sigma.renderers.def.js"></script>
    <script src="../static/sigma-deps/renderers/webgl/sigma.webgl.nodes.def.js"></script>
    <script src="../static/sigma-deps/renderers/webgl/sigma.webgl.edges.def.js"></script>
    <script src="../static/sigma-deps/renderers/canvas/sigma.canvas.labels.def.js"></script>
    <script src="../static/sigma-deps/middlewares/sigma.middlewares.rescale.js"></script>
    <script src="../static/sigma-deps/middlewares/sigma.middlewares.copy.js"></script>
    <script src="../static/sigma-deps/misc/sigma.misc.bindEvents.js"></script>
    <script src="../static/sigma-deps/misc/sigma.misc.drawHovers.js"></script>

    <script src="../static/sigma-deps/sigma.parsers.json.js"></script>
    <script src="../static/sigma-deps/sigma.canvas.edges.labels.def.js"></script>
    <script src="../static/sigma-deps/sigma.canvas.edges.labels.curve.js"></script>
    <script src="../static/sigma-deps/sigma.canvas.edges.labels.curvedArrow.js"></script>
    <!-- END SIGMA IMPORTS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <link href="../static/frontend-style.css" rel="stylesheet" type="text/css">
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-sm">
    <button class="btn btn-success mr-1" onclick="solveVmtl()">Solve VMTL</button>
    <button class="btn btn-danger mr-1" onclick="clearGraph()">Clear</button>
    <a class="btn btn-primary mr-1" href='/' role="button">Backend editor</a>
</nav>
<div id="graph-container">
    <div id="disc"></div>
    <div id="ground"></div>
</div>
<script src="../static/graph-editor.js"></script>
</body>
</html>
