<html lang="pl">
<head>
    <title>VMTL Coloring - Backend Editor</title>

    <script src="../static/sigma.min.js"></script>
    <script src="../static/sigma.parsers.json.js"></script>
    <script src="../static/settings.js"></script>
    <script src="../static/sigma.canvas.edges.labels.def.js"></script>
    <script src="../static/sigma.canvas.edges.labels.curve.js"></script>
    <script src="../static/sigma.canvas.edges.labels.curvedArrow.js"></script>

    <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id='container'>
    <div id='options'>
        <div id='vertex'>Wierzchołki<br><br>
            <form action="addNode" method="post">
                <label for="v_id">ID:</label><br>
                <input id="v_id" name="v_id" type="text"><br>
                <label for="x_pos">X:</label><br>
                <input id="x_pos" name="x_pos" type="text"><br>
                <label for="y_pos">Y:</label><br>
                <input id="y_pos" name="y_pos" type="text"><br><br>
                <input id="s_1" type="submit" value="Dodaj wierzchołek">
            </form>
        </div>
        <div id='edge'>Krawędzie<br><br>
            <form action="addEdge" method="post">
                <label for="id_1">ID1:</label><br>
                <input id="id_1" name="id_1" type="text"><br>
                <label for="id_2">ID2:</label><br>
                <input id="id_2" name="id_2" type="text"><br><br>
                <input type="submit" value="Dodaj krawędź">
            </form>
        </div>
        <div id='result'>
            <form action="solveVmtl" method="get">
                <form action="clearGraph" method="post">
                    <input type="submit" value="Wyczyść graf"/>
                </form>
                <button id="vmtl" onclick="printGraph()">Rozwiązanie</button>
            </form>
        </div>
    </div>
    <div id='sigma-container'></div>
</div>
<script>
    s = sigma.parsers.json('../data/graph.json', {
        container: 'sigma-container',
        renderer: {
            container: document.getElementById('sigma-container'),
            type: 'canvas'
        },
        settings: {
            autoRescale: false,
            labelThreshold: 1,
            defaultLabelSize: 50,
            labelSize: 'fixed',
            edgeLabelThreshold: 1,
            defaultEdgeLabelSize: 50,
            edgeLabelSize: 'fixed',
            defaultNodeColor: '#ec5148'
        }
    });
</script>
</body>
</html>